// Color Palette
$black: #000;
$white: #fff;
$gray-1: #f7f8fa;
$gray-2: #f2f3f5;
$gray-3: #ebedf0;
$gray-4: #dcdee0;
$gray-5: #c8c9cc;
$gray-6: #969799;
$gray-7: #646566;
$gray-8: #323233;
$red: #ee0a24;
$blue-light: #69bdc8;
$orange: #ff976a;
$orange-dark: #ed6a0c;
$orange-light: #fffbe8;
$green: #00c48f;
// Component Colors
$primary-color: $blue-light;
$success-color: $green;
$warning-color: $orange-dark;
$danger-color: $red;

// Font
$font-color: $gray-7;
$font-size-xs: 10px;
$font-size-sm: 12px;
$font-size-md: 14px;
$font-size-lg: 16px;

// Border
$border-color: var(--van-gray-3);
$border-width-base: 1px;
$border-radius-sm: 2px;
$border-radius-md: 4px;
$border-radius-lg: 8px;
$border-radius-max: 999px;

// Animation
$animation-duration-base: 0.3s;
$animation-timing-function-enter: ease-out;
$animation-timing-function-leave: ease-in;
